.geral{
    padding-left: 30px;
    padding-top: 10px;
    background-color: black;
    margin: 20px 200px;
    border: 1px solid;
    border-radius: 5px;
}
.compra{
    display: block;
    background-color: #febe01;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
}
h2{
    color: white;
}
p{
    color: gray;
}
span{
    color: yellow;
}
