@font-face {
  font-family: Waterfall;
  src: url(/Fontes/Waterfall-Regular.ttf);
}
@font-face {
  font-family: Jersey;
  src: url(/Fontes/Jersey10Charted-Regular.ttf);
}
@font-face {
  font-family: Fredericka;
  src: url(/Fontes/FrederickatheGreat-Regular.ttf);
}

* {
  background-color: lightblue;
}
h1 {
  font-family: Jersey;
  color: rgba(192, 17, 84, 0.801);
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.89);
}
h2 {
  font-size: 3em;
  font-family: Fredericka;
  font-weight: 400;
}
p {
  font-size: 34px;
  font-family: Waterfall;
}
.azul {
  color: blue;
}
.amarelo {
  color: rgb(131, 131, 6);
}
.verde {
  color: green;
}
#fundo_verde {
  background-color: lightgreen;
}
