h1 {
    color: rgba(rgba(113, 34, 187, 0.61), green, blue, alpha);
    background-color: rgb(22, 85, 22);
}

#p1 {
    color: black;
    background-color: rgb(116, 14, 14);
}

#p2 {
    color: orangered;
    background-color: rgb(10, 10, 216);
}

#p3 {
    color: rgba(184, 135, 11, 0.473);
    background-color: black;
}