* {
  font-family: Arial;
}
h1,
p {
  margin: 0;
}
h1 {
  font-size: 48px;
  line-height: 1;
  grid-column: 1/-1;
}
p {
  font-size: 20px;

}
img {
  max-width: 100%;
  grid-column: 1;
 
}
.info{
  display: grid;
  gap: 20px;
  place-items: start;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: start;
  gap: 20px;
}
.comprar {
  background-color: rgb(60, 83, 214);
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
.preco {
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 20px;
}
