.amarelo {
    display: inline;
    color: #febe01;
}

body {
    font: Arial;
}

h1 {
    text-align: center;
    color: black;
}

.blocos {
    margin: 100px;
    background-color: black;
    color: gray;
    border-radius: 4px;
    height: 200px;
    padding: 30px;
}

h2 {
    font-size: 30px;
    color: white;
}

a {
    color: #332200;
    text-decoration: none;
}

p {
    display: inline-block;
    font-size: 20px;
}

button {
    display: block;
    background-color: #febe01;
    font-size: 25px;
    border-radius: 4px;
    margin-top: 10px;
}