/* Fiz a responsividade me baseando  no devTools da google e 
principalmente tendo como guia as dimensões dos seguintes aparelhos: Mobile L , Tablet, Laptop L */
header>img{
    max-width: 100px;
}

header>h1{
    font-size: 2em;
}

nav{
    gap:5px;
}

nav>a{
    font-size: 10px;
    flex-basis: 80px;
}

footer img{
    max-width: 30px;
}

footer >p{
 font-size: 10px;
}