*{
    font-family: sans-serif;
}
h1{
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
    color: rgb(87, 161, 87);
    text-shadow: 2px 3px #bab5b5;
}
p{  
    font-size: 26px;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
}
a{
    text-decoration: none;
    color: cornflowerblue;
}
div{
    width: 700px;
    margin: 80px  650px;
    border: 2px solid green;
    padding: 10px;
}