*{
    font-family: Arial;
}
h1{
    text-align: center;
}
h2{
    background-color: #ddd;
    border: solid 1px black;
    padding: 20px;
    margin: 0px;
    flex: 1;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;  */
}
.flex{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    place-content: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,461px));
    gap: 20px;
}