h1{
    text-align: center;
}
.grid{
    display: grid;
    height: 1200px;
    grid-template-columns: 300px 300px;  /* trabalha com frações do grid */
    gap: 20px; /* Espaçamento */
    align-content:center;    
    justify-content:center;  /* alinhamento na horizontal  */
    /* align-content: space-between; */
    /* justify-content: space-between; */
      /* align e justify respctivamente */
    place-content: center ;
}

.item{
    display: grid;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
}

.comprar{
    background-color: #a8f;
    color: #103;
    padding: 10px 20px;
}